{% extends "dailyControl/base.html" %}


{% block content %}
		<h2>Apuntar</h2>    

		<div id="mytable"></div>
		
		<button type="button" class="btn btn-secondary" id="button_addRow">+</button>
		<button type="button" class="btn btn-secondary" id="button_save">save</button>
{% endblock %}

{% block specific-js %}
<script>	
		data_apuntes=[[1,23],[1,22],[1,24],[1,26],[1,29],[1,22],[1,22],[1,22],[1,2],[1,22],[1,24]];
		$('#mytable').jexcel({ 
				colHeaders:['$','Apunte'],
				minDimensions:[2,10],		
				colWidths: [ 80, 200 ],
			  tableOverflow:true,				
    		//tableHeight:'300px',
				data:data_apuntes
		});
		
		//remind make post on change
		$('#button_addRow').click(function(){					
					$('#mytable').jexcel('insertRow');
		});
		$('#button_save').on('click', function () {
			let data = $('#mytable').jexcel('getData');
			console.log(JSON.stringify(data));
			//$('#txt').val(JSON.stringify(data));
			console.log($.csv.fromArrays(data));	  
		});		
	  </script>	
{% endblock %}

