{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
		<!-- Jquery -->		
		<script src="{% static 'dailyControl/src/jquery-3.3.1.min.js' %}"></script> 
	
		<!-- JExcel-->
		<script src="{% static 'dailyControl/src/jquery.jexcel.js' %}" ></script>
		<link rel="stylesheet" href="{% static 'dailyControl/css/jquery.jexcel.css' %}" type="text/css" />
				
		<!-- Excel formula - to make functions work on jexcel table -->
		<script src="{% static 'dailyControl/src/excel-formula.min.js' %}"></script>
		
  	<!-- Bootstrap-->
		<script src="{% static 'dailyControl/src/bootstrap.min.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'dailyControl/css/bootstrap.min.css' %}" type="text/css" />
		
    <!-- Datatable Decide its use for reports
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> 
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		-->

		<!-- Jquery DatePicker -->
		<link rel="stylesheet" href="{% static 'dailyControl/css/jquery-ui.min.css' %}" type="text/css" />
		<script src="{% static 'dailyControl/src/jquery-ui.min.js' %}"></script>

  </head>
  <body>
			
    <!------------------------- START NAVBAR ------------------>
		<!-- remind clean it -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Romei</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			
			{% if user.is_authenticated %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">				  					
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      Cuadre
				    </a>
				    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				      <a class="dropdown-item" href="{% url 'cuadrar' %}"">Cuadrar</a>
				      <a class="dropdown-item" href="{% url 'ver_cuadres' %}">Ver cuadres</a>
				    </div>
				  </li>				 
				</ul>		
				<ul class="navbar-nav ml-auto">				  									
					<li class="nav-item">
				    <a class="nav-link" href="#">Usuario : {{ user.get_username }}</a>
				  </li>
				 	<li class="nav-item">
				    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
				  </li>
				</ul>
				{% else %}
				<ul class="navbar-nav ml-auto">				  									
					<li class="nav-item">	
						<a href="{% url 'login' %}"> Iniciar sesión.</a> 
				  </li>	
				</ul>
				{% endif%}	 						
			</div>
		</nav>
		
    <!------------------------- END NAVBAR ---------------------->


    <!------------------------- START MY HTML ------------------>
		<div class="container">
			{% block content %}
			{% endblock %} 	
    </div>

    <!------------------------- END MY HTML -------------------->

    <!-- Optional JavaScript -->
		{% block specific-js %}
    {% endblock %}		
		<script>
	  </script>	    
  </body>
</html>
