{% extends "dailyControl/base.html" %}

<!--Load crispy form tag-->
{% load crispy_forms_tags %}

{% block content %}
		<!--h2>Nueva mercaderia</h2-->    	

			{% if product_list %}
			<h3>Mercaderia actual</h3>
			<!-- START TABLE PRODUCTLIST -->
			<table class="table table-bordered">
			<thead>
				<tr>
				  <th></th> <th>Nombre</th> <th>Cantidad</th> <th>Precio</th>
				</tr>
			</thead>

			<tbody>
				{% for p in product_list %}
					<tr>
				  <th>{{ p.id }}</th> <td>{{ p.name }}</td> <td>{{ p.quantity }}</td>  <td>{{ p.unit_price }}</td>
					</tr>	

				{% endfor %}							
			</tbody>
			</table>	
			<!-- END TABLE PRODUCTLIST -->

			{% else %}
			<p>No existen productos en la base de datos.</p>
			{% endif%}

	<!-- START FORM NEWPRODUCT-->
	<form action="{% url 'nueva_mercaderia' %}" method="POST">
		<h3>Agregar producto</h3>
		{% csrf_token %}	
		{{ form|crispy }}		
  	<button type="submit" class="btn btn-secondary">Guardar</button>
	</form>
	<!-- END FORM NEWPRODUCT -->
{% endblock %}


{% block specific-js %}
<script>
		
</script>
{% endblock %}
