{% extends "dailyControl/base.html" %}

{% block content %}
		<div id="mytable"></div>	
		<button type="button" class="btn btn-secondary" id="button_addRow">Agregar fila</button>	
		<button type="button" class="btn btn-secondary" id="button_deleteRow">Eliminar fila</button>
{% endblock %}

		
{% block specific-js %}
<script>
		$('#mytable').jexcel({ 
				colHeaders:['Cantidad','Mercaderia','Precio'],
				minDimensions:[3,1],				
				colWidths: [ 80,150,80],
				//selectionCopy:false,
				contextMenu:function(){},
				rowDrag:false,
				columnSorting:false,
				//allowInsertRow:false,
				allowManualInsertRow:false,	
				//allowDeleteRow:false,
				allowInsertColumn:false,
				allowManualInsertColumn:false,
				allowDeleteColumn:false,
			  //tableOverflow:true,				
    		//tableHeight:'300px',
		});
	$('#button_addRow').on('click',function(){
		$('#mytable').jexcel('insertRow',1);
	});

	$('#button_deleteRow').on('click',function(){
		$('#mytable').jexcel('deleteRow',1);
	});
</script>
{% endblock %}
