{%  extends "dailyControl/base.html" %}

{% load static %}

{% block head %}
	<script src="{% static 'vue/vue.min.js' %}" ></script>

	<link rel="stylesheet" href="{% static 'daily_register/dailyRegister.css' %}" type="text/css" />
	<script src="{% static 'daily_register/dailyRegister.umd.min.js' %}" ></script>
{% endblock %}

{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Romei</a>
		<button 
			class="navbar-toggler" 
			type="button" 
			data-toggle="collapse" 
			data-target="#navbarSupportedContent" 
			aria-controls="navbarSupportedContent" 
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'daily_register' %}">Cuadrar</a>
      			</li>
				<!--li class="nav-item">
					<a class="nav-link" href="#">Usuario : {{ user.get_username }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}"> Iniciar sesión.</a>
				</li-->
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	Place new content Here.
	<div id="app">
	</div>
{% endblock %}

{% block foot %}
	<script>
		new Vue({
		render: h => h(dailyRegister, {
			props:{
				apiUrl: "http://localhost:8000/dailyControl/api"
			}
		})
		}).$mount('#app')

	</script>
{% endblock %}