{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
	<!-- Jquery -->
	<script src="{% static 'dailyControl/src/jquery-3.3.1.min.js' %}"></script>
  	<!-- Bootstrap-->
	<script src="{% static 'dailyControl/src/bootstrap.min.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'dailyControl/css/bootstrap.min.css' %}" type="text/css" />
  </head>
  <body>

	{% block nav %}
	{% endblock %}

	<div class="container">
		{% block content %}
		{% endblock %} 	
    </div>

	{% block specific_scripts %}
    {% endblock %}
  </body>
</html>
