{%  extends "dailyControl/base.html" %}

{% load static %}

{% block content %}
		
	{% if user.is_authenticated %}					
			<br>  
		<div class="row">
			<div class="">
				<p class="col-form-label">Cuadre del dia : </p>
			</div>
			<div class="">
				<input type="text" id="datepicker" autocomplete="off"  class="form-control" maxlength="10">
			</div>
			<div class="">
				<button type="button" class="btn btn-secondary" id="button_load">Cargar</button>
			</div>
		</div>
			
		<p id="lastDay_cuadre"></p>

		<div id="mytable"></div>	
		<button type="button" class="btn btn-secondary" id="button_save">Guardar</button>			
		<button type="button" class="btn btn-warning" id="button_update">Sobreescribir</button>	
	{% else%}
			<p>Debe iniciar sesión para usar el sitio.</p>				
			<a href="{% url 'login' %}"> Iniciar sesión.</a> 					
	{% endif%}
		
{% endblock %}

{% block specific-js %}
{% endblock %}
