{%  extends "dailyControl/base.html" %}
{% load static %}

{% block content %}
	{% if user.is_authenticated %}					
		<h2>Ver cuadres</h2>    
		<p>Esta seccion es puramente de consulta. Aquí se pueden consultar los cuadres realizados.</p>	
 		<p>Cuadre del dia: <input type="text" id="datepicker" autocomplete="off"  class="form-control" maxlength="10"></p>		
		<button type="button" class="btn btn-secondary" id="button_load">Cargar</button>
		<div id="mytable"></div>		
	{% else%}
			<p>Debe iniciar sesión para usar el sitio.</p>				
			<a href="{% url 'login' %}"> Iniciar sesión.</a> 					
	{% endif%}	
		
{% endblock %}

{% block specific-js %}
{% endblock %}
